# IntelliJ IDEA
.idea/*

# Compiled class files
*.class

# Logs and data files
*.log
*.json
*.xml
*.sqlite
*.sqlite3

# Env files
.env
.env.*

# Package Files
*.jar
*.war
*.ear

# Maven specific files and directories
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle specific files and directories
.gradle/
build/

# Eclipse specific files and directories
.classpath
.project
.settings/

# VS Code
.vscode/

# Mac
.DS_Store

# Java crash logs
hs_err_pid*
replay_pid*

# Maven Wrapper
.mvn/wrapper/maven-wrapper.properties

# Misc
out/
*.iml
